*.lo
*.o
*.a
*.la
.*
Makefile
Makefile.in
configure
configure.scan
config.guess
config.h.in
config.h.in~
config.h
aclocal.m4
autom4te.cache/
autoscan.log
config.sub
config.status
depcomp
install-sh
libtool
ltmain.sh
mensa
*.tar.gz
missing
sources/
src/mensa
stamp-h1
config.log
build/
debian/
doc/html/
doc/latex/