Source: mensa-cli
Section: util
Priority: extra
Maintainer: Holger Langenau <holger.langenau@s2004.tu-chemnitz.de>
Build-Depends: debhelper (>= 7.0.50~), autotools-dev, pkg-config, libncurses-dev, libxml2-dev
Standards-Version: 3.9.1
Homepage: 

Package: mensa-cli
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Show available meals in a terminal
 mensa-cli provides an command line interface for libmensa.
 It is possible to select schemas (i.e. how the data should be
 read and interpreted). Also provide some defaults to customize
 the call. The canteen should provide the data online in a form
 of html or xml since parsing is done with libxml2.